<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="articles__container">
  <div class="articles__main">
    <app-big-card
      photoCover="https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2023/10/11/1420548167-as-marvels-marvel-studio-x.jpg"
      cardTitle="As Marvels"
      cardDescription="As imagens apresentam as atrizes Brie Larson, Teyonah Parris e Iman Vellani."
    />
  </div>
  <div class="articles__others">
    <app-small-card
      photo="https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2023/10/11/1420548167-as-marvels-marvel-studio-x.jpg"
      title="As Marvels"
    />
    <app-small-card
      photo="https://t.ctcdn.com.br/ZSRwUv3JcX2-ako-BByg8NVfcJg=/640x360/smart/i808139.jpeg"
      title="Loki com os X-Men"
    />
    <app-small-card
      photo="https://tm.ibxk.com.br/2022/05/04/04181551056727.jpg?ims=1200x675"
      title="Cronologia dos filmes da Marvel"
    />
  </div>
</div>
